.login-header, .signup-header {
    color: darkgrey;
}

header {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main-page-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#login-username, #login-password {
    font-size: 1.25em;
}
#signup-username-label, #signup-password-label, #signup-email-label {
    font-size: 1.25em;
}

#login-username-label, #login-password-label {
    font-size: 1.375em;
}

#signup-username, #signup-password, #signup-email {
    font-size: 1.25em;
}

#login, #signup {
    display: inline-block;
    background: #00ff00;
    color:rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5;
}

#login:hover, #signup:hover {
    background: #00b7ff9f;
}

.createAccount {
    text-decoration: none;
    font-size: 1em;
    color: rgb(52, 156, 253);
}

#IAgreeToTheTermsOfServiceDownload {
    text-decoration: none;
    color:rgb(47, 213, 255);
}

#infinityLogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#signup-infinityLogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.signup-header, .login-header{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#login-form, #signup-form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}